body{
    background-image: url(../img/bg-t.jpg);
}

.logo {
    background-image: url(../img/iAtlas.png);
    background-repeat:no-repeat;
    font-size:100px;
    width: 350px;
    float:right;
}

.poiret{
    font-family: 'Poiret One';
}